.git
.github
.devcontainer
.nx
.trunk
.vscode
.env
.env.*
gha-creds-*.json
deploy/cloudrun/config/.env
deploy/cloudrun/config/.env.local
apps/*/.env
apps/*/.env.*
node_modules
common/temp
common/deploy
apps/*/node_modules
apps/*/dist
apps/*/.vite
apps/*/coverage
coverage
dist
tmp
*.log
MIGRATION-TO-CLOUD-RUN-PROD.md
