# Logs
logs
*.log
npm-debug.log*

node_modules/
dist
dist-ssr
.docusaurus
apps/docsite/build/
*.local
gha-creds-*.json
.dagger/runtime/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Rush
**/.rush/
**/rush-logs/
/common/temp/
/common/temp*/   # includes npm-tmp, npm-cache, pnpm-store
/common/deploy/

# NX
.nx
